/* --------------------------------CONFG INICIALES--------------------------------*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Open Sans", sans-serif;
}

main {
    max-width: 1200px;
    margin: 0 auto;
}
/* --------------------------------FORMULARIO--------------------------------*/
.font-content-form{
    justify-self: center;
    width: 40%;
    min-width: 300px;
    background-color: #f2f2f2;
    border-radius: 10px;
    box-shadow: 0px 0px 2px black;
    margin: 20px 0;
    padding: 15px 0;
}
.content-form{
    justify-self: center;
    align-self: center;
    display: flex;
    flex-direction: column;
    width: 300px;
    padding: 10px;
}
.content-form > h1 {
    text-align: center;
    margin-bottom: 16px;
}
form{
    display: flex;
    flex-direction: column;
}
label {
    margin-top: 10px;
}
label > span {
    color: rgb(188, 6, 6);
}
.input-container{
    width: 95%;
    height: 34px;
    padding: 6px;
    border-radius: 10px;
    border: 1px solid black;
}
.input-container:focus{
    border: none;
}
/* --------------------------------BOTONES--------------------------------*/
.submit {
    text-align: center;
}
.submit > p {
    margin-bottom: 20px;
}
.submit > button {
    justify-self: center;
    width: 140px;
    padding: 10px;
    margin: 30px 0 15px 0;
    border-radius: 10px;
    border: none;
    background-color: #1e90ff;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;  
    transition: all 0.3s ease;
}
.submit > button:hover {
    background: #1c7ed6;
    border-color: #1c7ed6;
    transform: translateY(-2px);
    box-shadow: 0 4px 12px rgba(30, 144, 255, 0.3);
}

.submit>button:disabled {
    background-color: #9ca3af;
    cursor: not-allowed;
    opacity: 0.8;
    transform: none;
    box-shadow: none;
}

.second-button{
    display: inline-block;
    justify-self: center;
    width: 140px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #1e90ff;
    background-color: white;
    text-decoration: none;
    color: #1e90ff;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;  
    transition: all 0.3s ease;
}
.second-button:hover{
    background: #1e90ff;
    color: white;
    transform: translateY(-2px);
    box-shadow: 0 4px 12px rgba(30, 144, 255, 0.2);
}
/* --------------------------------Texto para redirigir a "RecuperarCuenta" --------------------------------*/
.forgot-password{
    margin-top: 4px;
    text-decoration: none;
    color: black;
}
.forgot-password:hover{
    text-decoration: underline;
}

/* --------------------------------Ajuste de texto para la pagina "RecuperarCuenta"--------------------------------*/
.font-content-form > h1{
    margin-left: 20px;
    margin-bottom: 4px;
}
.font-content-form > p{
    margin-left: 20px;
    font-size: 1rem;
}
@media (width <= 768px){
    .input-container{
        width: 270px;
    }
}